:root {
  --color-header-background: rgba(255, 255, 255, 0.72);
  --color-header-link: #303030;

  --color-header-zarinPal-link: #28457b;
  --color-header-zarinPal-link-bg: rgba(232, 239, 254, 0.6);
  --color-header-zarinPal-link-bg-hover: #fbf6d9;
  --color-light: #fff;
  --color-dark: black;
  --color-border-bottom-menu: #dfe1e4;
  --color-link-more-item: #eee;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

body {
  font-family:
    "iranyekanwebregular",
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  inline-size: 1170px;
  margin-inline: auto;
  padding: 21px 0 7px;
  background-color: var(--color-header-background);
  backdrop-filter: blur(20px);
  transition: all 0.3s ease;
  position: sticky;
  top: 0;
  z-index: 99;
}

.logo {
  margin: 11px 28px;
}

.header-ul {
  display: flex;
}

.header-ul li {
  font-size: 14px;
  margin: 0 15px;
}

.header-ul li a {
  cursor: pointer;
  color: var(--color-header-link);
}

.header-ul > li:last-child a {
  color: var(--color-header-zarinPal-link);
  background-color: var(--color-header-zarinPal-link-bg);
  border-radius: 20px;
  padding: 10px 27px;
  font-family: "YekanBakhBold";
}

.header-ul > li:last-child a:hover {
  background-color: var(--color-header-zarinPal-link-bg-hover);
}

.more-menu {
  display: flex;
}

.more-menu img {
  width: 8px;
  margin-right: 8px;
}

.hamburger-icon {
  width: 27px;
  display: none;
}

.hamburger-menu {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
  background-color: var(--color-light);
  width: 100%;
  font-family: "YekanBakhMedium";
  transform: translateY(-100%);
}

.cross-icon {
  width: 100%;
  text-align: left;
  padding: 25px 0;
}

.cross-icon img {
  width: 20px;
  margin-left: 30px;
}

.hamburger-menu-items {
  padding: 10px 30px;
}

.hamburger-menu-items a {
  display: inline-block;
  color: var(--color-dark);
  padding: 3px 0;
}

.hamburger-menu-items div {
  height: 1px;
  background-color: var(--color-border-bottom-menu);
  width: 90%;
  margin: 8px 0;
}

.more-item {
  display: flex;
  align-items: center;
  background-color: var(--color-link-more-item);
  padding: 20px 50px;
}

.more-item img {
  width: 15px;
  margin-right: 5px;
}

.more-item a {
  color: var(--color-header-zarinPal-link);
  font-size: 0.85rem;
}

.show-hamburger-menu {
  animation: fadeInDown 0.25s forwards;
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media screen and (max-width: 1200px) {
  header {
    width: 940px;
  }
}

@media screen and (max-width: 990px) {
  header {
    width: auto;
    padding: 20px 60px;
  }

  .header-ul li:last-child {
    display: none;
  }

  .logo {
    margin: 0;
  }

  .header-ul li {
    margin: 0 10px;
  }
}

@media screen and (max-width: 768px) {
  .header-ul {
    display: none;
  }

  header {
    width: auto;
    padding: 10px 8px;
  }

  .hamburger-icon {
    display: block;
  }
}
