:root {
  --color-header-background: rgba(255, 255, 255, 0.72);
  --color-header-link: #303030;

  --color-header-zarinPal-link: #28457b;
  --color-header-zarinPal-link-bg: rgba(232, 239, 254, 0.6);
  --color-header-zarinPal-link-bg-hover: #fbf6d9;
  --color-light: #fff;
  --color-dark: black;
  --color-border-bottom-menu: #dfe1e4;
  --color-link-more-item: #eee;

  --color-border-top-drop-down-menu: #f8e88b;
  --color-banner-gradient: linear-gradient(135deg, #21254e, #2b4a83);

  --color-register-link: #ffd900;
  --color-login-link: #435a8a;
  --color-title1-peyment-section: #747480;
  --color-title2-peyment-section: #303030;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

body {
  font-family:
    "iranyekanwebregular",
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  inline-size: 1170px;
  margin-inline: auto;
  padding: 21px 0 7px;
  background-color: var(--color-header-background);
  backdrop-filter: blur(20px);
  transition: all 0.3s ease;
  position: sticky;
  top: 0;
  z-index: 99;
}

.logo {
  margin: 11px 28px;
}

.header-ul {
  display: flex;
}

.header-ul li {
  font-size: 14px;
  margin: 0 15px;
}

.header-ul li a {
  cursor: pointer;
  color: var(--color-header-link);
}

.header-ul > li:last-child a {
  color: var(--color-header-zarinPal-link);
  background-color: var(--color-header-zarinPal-link-bg);
  border-radius: 20px;
  padding: 10px 27px;
  font-family: "YekanBakhBold";
}

.header-ul > li:last-child a:hover {
  background-color: var(--color-header-zarinPal-link-bg-hover);
}

.more-menu {
  display: flex;
}

.more-menu img {
  width: 8px;
  margin-right: 8px;
}

.hamburger-icon {
  width: 27px;
  display: none;
}

.hamburger-menu {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
  background-color: var(--color-light);
  width: 100%;
  font-family: "YekanBakhMedium";
  transform: translateY(-100%);
}

.cross-icon {
  width: 100%;
  text-align: left;
  padding: 25px 0;
}

.cross-icon img {
  width: 20px;
  margin-left: 30px;
}

.hamburger-menu-items {
  padding: 10px 30px;
}

.hamburger-menu-items a {
  display: inline-block;
  color: var(--color-dark);
  padding: 3px 0;
}

.hamburger-menu-items div {
  height: 1px;
  background-color: var(--color-border-bottom-menu);
  width: 90%;
  margin: 8px 0;
}

.more-item {
  display: flex;
  align-items: center;
  background-color: var(--color-link-more-item);
  padding: 20px 50px;
}

.more-item img {
  width: 15px;
  margin-right: 5px;
}

.more-item a {
  color: var(--color-header-zarinPal-link);
  font-size: 0.85rem;
}

.show-hamburger-menu {
  animation: fadeInDown 0.25s forwards;
}

#show-more-menu {
  position: relative;
}

#show-more-menu ul {
  position: absolute;
  top: 0;
  left: -35px;
  background-color: var(--color-light);
  border-top: 5px solid var(--color-border-top-drop-down-menu);
  border-radius: 12px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 23px;
  width: 123px;
  display: none;
}

#show-more-menu ul li {
  margin: 0;
  padding: 10px 20px;
  font-size: 0.8rem;
  color: var(--color-dark);
}

#show-more-menu ul li:hover {
  background-color: var(--color-header-zarinPal-link-bg);
}

#show-product-menu {
  position: relative;
}

.product-menu {
  position: absolute;
  top: 0;
  left: -135px;
  background-color: var(--color-light);
  display: none;
  justify-content: flex-start;
  border-top: 5px solid var(--color-border-top-drop-down-menu);
  border-radius: 12px;
  width: 372px;
  padding-top: 5px;
  margin-top: 23px;
}

.product-menu a {
  display: block;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
}

.product-menu a:hover {
  background-color: var(--color-header-zarinPal-link-bg);
}

.product-menu a p:first-child {
  color: var(--color-dark);
  font-size: 0.95rem;
}

.product-menu a p:last-child {
  color: var(--color-dark);
  font-size: 0.8rem;
}

.banner {
  width: 1050px;
  padding: 124px 60px 80px;
  background-image: var(--color-banner-gradient);
  border-radius: 20px;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
}
.banner-text h3 {
  font-family: "YekanBakhHeavy";
  font-size: 2rem;
  color: var(--color-light);
}

.banner-text p {
  color: var(--color-light);
  font-size: 1.15rem;
  margin: 20px 0;
  line-height: 2.5rem;
}
.banner-image img {
  width: 500px;
}

.banner-bottom {
  margin-top: 60px;
}

.register {
  font-size: 1rem;
  font-family: "YekanBakhBold";
  color: var(--color-dark);
  background-color: var(--color-register-link);
  padding: 6px 14px;
  display: inline-block;
  border: none;
  border-radius: 10px;
  margin-left: 10px;
}
.login {
  font-size: 1rem;
  font-family: "YekanBakhBold";
  color: var(--color-light);
  background-color: var(--color-login-link);
  padding: 6px 14px;
  display: inline-block;
  border: none;
  border-radius: 10px;
}

.go-down {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  bottom: 58px;
}

.go-down div {
  background-image: url("../images/arrowbottom.svg");
  background-repeat: no-repeat;
  width: 164px;
  height: 78px;
}

.go-down img {
  width: 15px;
  position: relative;
  top: -60px;
}

.online-payment {
  width: 1170px;
  margin: auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.section-image {
  width: 450px;
  height: 480px;
}

.section-text {
  margin: 30px 0;
  width: 530px;
}

.section-text h2 {
  color: var(--color-title1-peyment-section);
  font-family: "YekanBakhMedium";
  font-weight: 500;
  font-size: 1.4rem;
  margin: 20px 0 5px;
}

.section-text h3 {
  color: var(--color-title2-peyment-section);
  font-family: "YekanBakhHeavy";
  font-weight: 600;
  font-size: 2rem;
  margin: 5px 0 10px;
}

.section-text p {
  color: var(--color-title2-peyment-section);
  font-family: "YekanBakhMedium";
  text-align: justify;
  line-height: 40px;
  border-bottom: 1px solid var(--color-border-bottom-menu);
  padding-bottom: 20px;
  margin-top: 16px;
}

.section-links {
  margin-top: 40px;
  display: flex;
}
.first-button {
  font-size: 0.9rem;
  font-family: "iranyekanwebmedium";
  color: var(--color-dark);
  background-color: var(--color-register-link);
  padding: 6px 14px;
  border: none;
  margin-left: 10px;
  display: inline-block;
  border-radius: 10px;
}

.second-button {
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  padding: 6px 14px;
  border-radius: 10px;
  font-family: "iranyekanwebmedium";
  color: var(--color-header-zarinPal-link);
  background-color: var(--color-header-zarinPal-link-bg);
}

.second-button img {
  width: 15px;
  height: 15px;
  margin-right: 5px;
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes showUp {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 1200px) {
  header {
    width: 940px;
  }

  .banner {
    width: 900px;
    padding: 60px 40px 120px;
  }

  .banner-image img {
    width: 430px;
  }

  .online-payment {
    width: 940px;
  }
}

@media screen and (max-width: 990px) {
  header {
    width: auto;
    padding: 20px 60px;
  }

  .header-ul li:last-child {
    display: none;
  }

  .logo {
    margin: 0;
  }

  .header-ul li {
    margin: 0 10px;
  }

  .banner {
    width: auto;
    padding: 40px 40px 85px;
    margin-left: 35px;
    margin-right: 35px;
  }

  .banner-image img {
    display: none;
  }

  .banner-text {
    text-align: center;
  }

  .banner-text p {
    margin: 5px 0;
    font-size: 1rem;
  }

  .banner-bottom {
    margin-top: 40px;
  }

  .online-payment {
    width: auto;
    flex-direction: column;
    align-items: center;
  }

  .section-text {
    width: 95%;
  }
}

@media screen and (max-width: 768px) {
  .header-ul {
    display: none;
  }

  header {
    width: auto;
    padding: 10px 8px;
  }

  .hamburger-icon {
    display: block;
  }

  .banner {
    margin-left: 8px;
    margin-right: 8px;
  }

  .section-text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .section-image {
    width: 460px;
    height: 480px;
  }
}

@media screen and (max-width: 575px) {
  .banner {
    padding: 80px 40px;
  }

  .banner-text h3 {
    font-size: 1.2rem;
    text-align: right;
  }

  .banner-text p {
    text-align: justify;
  }

  .section-image {
    display: none;
  }

  .section-text {
    width: 80%;
    padding: 0 10px;
  }

  .section-text h3 {
    font-size: 1rem;
  }
}
